# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/google-services.json
*.jks
*.keystore
captures/

# Firebase
firebase/functions/node_modules/
firebase/functions/lib/
firebase/.firebase/
firebase/*-debug.log
service-account*.json

.DS_Store
